@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* FONT SIZES */
  /* HEADINGS */
  --fs-h1: clamp(3rem, 2.7143rem + 1.4286vw, 4rem);
  --fs-h2: clamp(2.5rem, 2.2143rem + 1.4286vw, 3.5rem);
  --fs-h3: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
  --fs-h4: clamp(1.5rem, 1.2143rem + 1.4286vw, 2.5rem);
  --fs-h5: clamp(1.25rem, 1.3571rem + 0.7143vw, 2rem);

  /* BODY */
  --fs-body-3: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --fs-body-2: clamp(0.875rem, 0.8571rem + 0.1786vw, 1rem);
  --fs-body-1: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);

  /* Colors */
  --clr-gdg-blue: #4285F4;
  --clr-gdg-red: #DB4437;
  --clr-gdg-yellow: #F4B400;
  --clr-gdg-green: #0F9D58;
}

html,
body {
	font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
}

/* HEADINGS */
h1 {
  font-size: var(--fs-h1);
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-h2);
  line-height: 1.1;
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

@layer components {
  .section {
    @apply pt-24
  }
	.padding-inline {
		@apply px-[5%] md:px-12 lg:px-20;
	}

  .grid-layout {
    @apply grid grid-cols-1 smmd:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-8 gap-y-24 smmd:gap-y-32 mt-32;
  }
}
